In [23]:
import pandas as pd
import numpy as np

df = pd.DataFrame(
    np.array(pd.read_table("data.txt", sep="俯仰角=|横滚角=|偏航角=|\t|\n", header=None, engine="python").drop(columns=0, axis=1)
             ).reshape(-1, 4), columns=["fy", "hg", "ph", 3]).drop(columns=3, axis=1)
df.to_csv("data.csv", index=False)
df

       fy     hg     ph
0  -46.78 -73.74  53.14
1  -46.73 -73.79  53.18
2  -46.73 -73.79  53.18
3  -47.04 -73.44  52.92
4  -47.04 -73.44  52.92
5  -46.96 -73.54  53.00
6  -46.96 -73.54  53.00
7  -46.96 -73.54  53.00
8  -46.86 -73.65  53.08
9  -46.86 -73.65  53.08
10 -46.86 -73.65  53.08
11 -46.77 -73.73  53.14
12 -46.77 -73.73  53.14
13 -47.07 -73.39  52.89
14 -47.07 -73.39  52.89
15 -46.98 -73.49  52.96
16 -46.98 -73.49  52.96
17 -46.98 -73.49  52.96
18 -46.87 -73.60  53.04
19 -46.87 -73.60  53.04
20 -46.87 -73.60  53.04
21 -46.78 -73.70  53.11
22 -46.78 -73.70  53.11
23 -47.08 -73.38  52.87
24 -47.08 -73.38  52.87
25 -46.99 -73.49  52.95
26 -46.99 -73.49  52.95
27 -46.99 -73.49  52.95
28 -46.87 -73.60  53.03
29 -46.87 -73.60  53.03
30 -46.87 -73.60  53.03
31 -46.79 -73.71  53.12
32 -46.79 -73.71  53.12
33 -47.09 -73.37  52.87
34 -47.09 -73.37  52.87
35 -47.00 -73.48  52.95