In [4]:
import pandas as pd
import numpy as np

# df = pd.read_table("data.txt", sep="俯仰角=|横滚角=|偏航角=|\t|\n", header=None, engine="python")

df = pd.DataFrame(
    np.array(pd.read_table("data_0316_02.txt", sep="俯仰角=|横滚角=|偏航角=|航角=|\t|\n", header=None, engine="python").drop(columns=0, axis=1)
             ).reshape(-1, 4)).drop(columns=3, axis=1)
df.to_csv("data_0316_02.csv", index=False, header=None)
df

         0       1       2
0    -6.33    0.59   84.65
1    -6.33    0.59   84.65
2    -6.33    0.59   84.65
3    -6.29    0.58   84.86
4    -6.29    0.58   84.86
..     ...     ...     ...
322 -27.52 -106.57  126.58
323 -27.52 -106.57  126.58
324 -27.51 -106.56  126.59
325 -27.51 -106.56  126.59
326 -27.51 -106.56  126.59

[327 rows x 3 columns]