In [2]:
import pandas as pd
import numpy as np

# df = pd.read_table("data.txt", sep="俯仰角=|横滚角=|偏航角=|\t|\n", header=None, engine="python")

df = pd.DataFrame(
    np.array(pd.read_table("data_0316_01.txt", sep="俯仰角=|横滚角=|偏航角=|航角=|\t|\n", header=None, engine="python").drop(columns=0, axis=1)
             ).reshape(-1, 4)).drop(columns=3, axis=1)
df.to_csv("data_0316_01.csv", index=False, header=None)
df

          0      1      2
0    -28.70 -99.98  38.89
1    -28.70 -99.98  38.89
2    -28.70 -99.98  38.89
3    -28.70 -99.98  38.89
4    -28.70 -99.98  38.89
...     ...    ...    ...
1059 -35.65   6.40  93.23
1060 -36.00   6.39  93.04
1061 -36.00   6.39  93.04
1062 -35.87   6.41  92.84
1063 -35.87   6.41  92.84

[1064 rows x 3 columns]